<% var itemDate= data.result; for(i in itemDate){console.log(itemDate)%>
<% var date=itemDate[i];for(var j in date){%>
<ul data-year="<%= j%>" class="ulItem">
    <%if(j!=nowYear&&j!=lastYear){%>
    <li class="calendar" style="border: 0;height: 40px;margin: 0;margin-left: 20px;"><%= j%></li>
    <%}%>
    <% date[j].forEach(function(data,index){%>
    <% Ydata(data.measuringTime) %>
    <li>
        <h2 class="time"><span><%=times1%></span></h2>
        <div>
            <ol>
                <% var arr=data.result.split("\n");for(var i=0;i<arr.length;i++){%>
                <li><%=arr[i]%></li>
                <%}%>
            </ol>
        </div>
        <p><%=data.resultDesc%></p>
    </li>
    <% })%>
</ul>
<% } %>
<% } %>